body {
  font-family: "Segoe UI", sans-serif;
}
.page_header {
  background: #0A4172;
}
.tog-button {
  background-color: #7FA3C2;
  border-radius: 5px;
  color: #fff;
}
.icon-bar {
  background-color: white;
}
.navmenu-container {
  width: 50%;
}
.navmenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80px;
}
.navmenu-list-item {
  display: inline-block;
}
.navmenu-list-link {
  text-decoration: none;
  display: inline-block;
  line-height: 80px;
  color: white;
  font-size: 20px;
  padding: 0 20px;
  font-variant: small-caps;
}
.navmenu-list-link:hover {
  background: #62B5F4;
}
.modal-container {
  width: 200px;
  float: right;
}
.modal-list a {
  font-size: 15px;
}
@media (max-width: 768px) {
  .navmenu-list {
    width: auto;
    height: auto;
  }
  .navmenu-list-item,
  .navmenu-list-link {
    display: block;
  }
  .modal-container {
    float: none;
  }
}
.link-style {
  text-decoration: none;
  display: inline-block;
  line-height: 80px;
  color: white;
  font-size: 20px;
  padding: 0 20px;
}
.list-style {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 80px;
}
